<div class="forgot-password-wrapper">
    <div class="forgot-password-container">
      <h2>Forgot Password?</h2>
      <p class="forgot-password-message">Don’t worry, we’ll help you reset it. Please enter your email address.</p>
      <form>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email address</mat-label>
          <input matInput type="email" placeholder="Enter your email">
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="full-width reset-button">
          Reset Password
        </button>
      </form>
      <p class="login-redirect">Remember your password? <a href="#" class="login-link">Login here</a>.</p>
    </div>
  </div>
  