<div class="contact-wrapper">
    <div class="contact-container">
      <h2>Contact Us</h2>
      <p class="contact-message">We’re here to help. Feel free to reach out with any questions or concerns.</p>
      <form>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Full Name</mat-label>
          <input matInput type="text" placeholder="Enter your full name">
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email address</mat-label>
          <input matInput type="email" placeholder="Enter your email">
        </mat-form-field>
  
        <!-- <mat-form-field appearance="fill" class="full-width">
          <mat-label>Subject</mat-label>
          <input matInput type="text" placeholder="Subject">
        </mat-form-field> -->
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Message</mat-label>
          <textarea matInput rows="4" placeholder="Type your message here"></textarea>
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="full-width contact-button">
          Send Message
        </button>
      </form>
    </div>
  </div>
  